#content .maincontent {
    height: 1000px;
    padding-left: 220px;
    padding-right: 20px;
}

#newTodoListItemForm {
    margin-top: 20px;
    padding-left: 5px;
    background: white;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border:1px solid #050f06;
    font-size: 10px;
    font-style: italic;
    height: 25px;
}

#newTodoListItemForm .rightThingies{
    float: right;
}

#todoList {
    margin-top: 20px;
    background: white;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border:1px solid #050f06;
}

#priority {
    background: red;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

#todoList .rightThingies{
    float: right;
}

#todoList div {
    font-size: 16px;
    height: 30px;
}

#todoList div:not(:nth-last-child(1)) {
    border-bottom: 1px solid black;
}


/* header */
#header {
    height: 49px;
    width: 100%;
    background: #ffb253;
    border: 1px solid #050f06;
    position: fixed;
}

#header img {
    vertical-align: top;
}
#content,
#content ul,
#content ul li{
    padding-top: 51px;
    list-style: none;
    border: 0;
}

/* sidebar */
#content .sidebar,
#content .sidebar ul,
#content .sidebar ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
#content .sidebar ul {
    height: 1000px;
    width: 200px;
    float: left;
}
#content .sidebar ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
}
#content .sidebar ul li {
    float: none;
}
#content .sidebar {
    font-size: 18px;
}
#content .sidebar ul a,
#content .sidebar ul a:link,
#content .sidebar ul a:visited {
    display: block;
    color: #848889;
    text-decoration: none;
    font-weight: 300;
}

#content .sidebar ul {
    background: #fff;
}
#content .sidebar a {
    padding: 10px 20px;
}
#content .sidebar li:hover > a {
     color: #ffb253;
 }
#content .sidebar li:not(#selectedList):hover {
    background: #f6f6f6;
}


#selectedList {
    background: #ffb253;
}
#selectedList:hover{
    background: #848889;
}